/* hepsinin özelliklerini sıfırla*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

html {
    scroll-behavior: smooth;
  }

/* header */  
header{
    background: linear-gradient(rgba(5,5,30,0.5), rgba(5,5,30,0.5)), url(images/1.jpg);
    min-height: 100vh;
    background-position: center;
    background-size: cover;

    position: relative;

}

nav{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}
nav a img{
    width: 150px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

nav div ul{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;    
}

nav div ul li{
    padding: 10px;
}

nav div ul li a{
    text-decoration: none;
    font-size: 15px;
    color: white;
}

nav div ul li a::after{
    content: '';
    background-color: red;
    display: block;
    width: 0;
    height: 3px;
    margin-top: 3px;
    margin-left: auto;
    margin-right: auto;
    
}

nav div ul li a:hover::after{
    width: 100%;
    transition: .3s;
}

.bi-list{
    color: white;
    font-size: 30px;
    margin-right: 20px;
    cursor: pointer;
}

.bi-list:hover{
    font-size: 35px;
    transition: .3s;
}

.bi-list{
    display: none;
}

/* text box*/
.text-box{
    width: 80%;
    color: white;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.text-box h1{
    font-size: 50px;
}

.text-box p{
    margin: 15px;
    font-size: 18px;
}

.hero-btn{
    background-color: transparent;
    cursor: pointer;
    padding: 12px 34px;
    border: 1px solid white;
    color: white;
    display: inline-block;
    text-decoration: none;
}

.hero-btn:hover{
    background-color: red;
    transition: 0.3s;
}

/* ortak kullanımlar*/
.align-container{
    width: 80%;
    margin: auto;
    padding-top: 60px;
    text-align: center;
}
.row{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;    
}
.align-item{
    flex-basis: 30%;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
}

/* kurslar */
section h1{
    font-size: 35px;
}

section p{
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
    padding: 10px;
}

section h3{
    margin: 10px 0;
}

.course-col{
    background-color: antiquewhite;
}

.course-col:hover{
    box-shadow:  0 0 10px gray;
    transition: .3s;
    
}

/* kampüsler */
.campus-col{
    padding: 0;
    position: relative;
    border-radius: 10px;

}

.campus-col img{
    width: 100%;
    border-radius: 10px;

}
.layer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.layer:hover{
    background-color: rgba(230, 118, 6, 0.5);
    transition: .3s;
}
.layer h3{
   position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 25px;
    font-weight: 500;
    color: white;
    opacity: 0;
}
.layer:hover h3{
    bottom: 50%;
    transition: .3s;
    opacity: 1;
}


/* yerleşkeler */
.facilities-col{
    text-align: left;
    padding: 0;
}

.facilities-col img{
    width: 100%;
    border-radius: 10px;
}
.facilities-col p{
    margin: 16px 0;
}

/* yorumlar*/
.testemonial-col{
    text-align: left;
    cursor: pointer;
    display: flex;
    background-color: antiquewhite;
}
.testemonial-col img{
    height: 40px;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 30px;
}

.testemonial-col p{
    padding: 0;
}

.testemonial-col h2{
    margin-top: 15px;
}
.testemonial-col .bi{
    color: red;
}

/*acil ulaşım alanı*/
.ua{
    color: white;
    background: linear-gradient(rgba(8, 5, 30, 0.442), rgba(5,5,30,0.5)), url(images/5.jpg); 
    background-position: center;
    background-size: cover;
    padding: 100px 0;
    border-radius: 10px;
    margin: 80px auto;
    text-align: center;
}
.ua h1{
    margin-bottom: 40px;
    padding: 0;
}
/* footer */
footer{
    padding: 30px 0;
}
footer h1{
    margin: 25px 0;
}
.icons{
    margin: 10px;
}
.icons .bi{
    color: red;
    margin: 10px 10px;
    cursor: pointer;
    padding: 20px 10px;
}
.bi-heart-fiil{
    color: red;
}
/* responsive */
@media (max-width:675px) {
    .nav-links{
        display: none;
    }
    .bi-list{
        display: block;
    }
    .text-box h1{
        font-size:30px;
    }
    .row{
        flex-direction: column;
        
    }
    .ua h1{
        font-size: 25px;
    }
}
